<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OneEleven Hotels | Employee</title>
</head>
<body>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
        </tr>
        <tr th:each="staff:${employees}">
            <td th:text="${staff.employeeID}">ID</td>
            <td th:text="${staff.firstName}">First Name</td>
            <td th:text="${staff.lastName}">Last Name</td>
            <td th:text="${staff.position.toString()}">Position</td>
        </tr>
    </table>
</body>
</html>